body {
  position: relative;
}

h1, h2, h3, h4, h7 {
  font-family: Baloo;
}

.jumbotron {
  height: 400px;
  background-size: cover;
  overflow: hidden;
  margin-bottom: auto;
  /*background-image: url('http://eskipaper.com/images/background-pictures-13.jpg');*/
}

.jb-inner {
  padding-top: 50px;
}

.img-jumbotron {
  max-width: 40%;
  max-height: 20%;
}

footer {
  background-color: #DFE9EC;
  height: 230px;
  padding-top: 50px;
}

.page-header {
  padding-top: 60px;
}
